<section id="page">
    <header>
        <h2>{{ page.title }}</h2>
    </header>
    <div class="row">
    <section class="span-two-thirds">
        <div class="content">
            {{ page.content }}
        </div>
    </section>
    <aside id="sidebar" class="span-one-third">
        <section class="widget">
            <header><h2>Need Support?</h2></header>
            <article>
                <p>Fit to Scale developed by: <a href="http://simplypx.com" target="_blank">Simply px</a></p>
                <p>Contact us: <a href="#">support@simplypx.com</a></p>
            </article>
        </section>
    </aside>
    </div>
</section><!-- // #page -->